<robot name="{{ model_name }}">
    <material name="orange">
        <color rgba="1 .4 0.01 1.0"/>
    </material>
    <material name="red">
        <color rgba="1 0.01 0.01 1.0"/>
    </material>
    <material name="yellow">
        <color rgba="1 1 0.01 1.0"/>
    </material>

    {% block content %}{% endblock %}
</robot>
