    <joint name="joint_{{ joint_num }}" type="revolute">
        <parent link="{{ par_name }}"/>
        <child link="{{ child_name }}"/>
        <origin xyz="{{ origin }}" rpy="0 0 0" />
        <limit effort="1000.0" lower="-0.54" upper="0.54" velocity="0.5"/>
        <axis xyz="{{ axis }}" />
    </joint>