    <link name="link{{ link_num }}" >
        <contact>
            <lateral_friction value="1" />
        </contact>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size=".5 .4 .5"/>
            </geometry>
            <material name="orange" />
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size=".5 .3 .5"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia
            ixx="0.342" ixy="0.0" ixz="0.0"
            iyy="0.42" iyz="0.0"
            izz="0.342"/>
        </inertial>
    </link>