{% extends "model.urdf.jinja2" %}

{% block content %}
    {% for link_num in links %}
        {% include "simple_link.urdf.jinja2" %}
    {% endfor %}

    {% for par_num, child_num in joints %}
        {% include "simple_joint.urdf.jinja2" %}
    {% endfor %}
{% endblock %}