{% extends "model.urdf.jinja2" %}

{% block content %}
    {% for link_num in links %}
        {% include "simple_link.urdf.jinja2" %}
    {% endfor %}

    {% for par_num, child_num in joints %}
        {% set joint_num = 'x_' + par_num %}
        {% set par_name = 'link_' + par_num %}
        {% set child_name = 'link_' + child_num %}
        {% set axis = '0 0 1' %}
        {% set origin = '0 -.5 0' %}
        {% include "simple_joint.urdf.jinja2" %}
    {% endfor %}
{% endblock %}